{% extends 'base.html' %}

{% block title %}
  {% if form.instance.pk %}Редактировать пост{% else %}Новый пост{% endif %} 
{% endblock %}
{% block content %}
{% load user_filters %}
    <main>
      <div class="container py-5">
        <div class="row justify-content-center">
          <div class="col-md-8 p-5">
            <div class="card">
              <div class="card-header">
                {% if form.instance.pk %}Редактировать пост{% else %}Добавить пост{% endif %}                    
              </div>
                        
              <div class="card-body">
                {% if form.errors %}
                  {% include 'includes/form_errors.html' %}
                {% endif %}
                <form method="post" enctype="multipart/form-data" action="
                  {% if form.instance.pk %}
                    {% url 'posts:post_edit' form.instance.pk %}
                  {% else %}
                    {% url 'posts:post_create' %}
                  {% endif %}                     
                ">
                  {% csrf_token %}
                  {% include 'includes/form.html' %}
                  <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-primary">
                      {% if form.instance.pk %}Сохранить{% else %}Добавить{% endif %}
                    </button>
                  </div>
                  <div>
                    <span class="required text-danger">* - обязательное поле</span>
                  </div>
                </form>
              </div>           
            </div>
          </div>
        </div>
      </div>
    </main>
{% endblock %}